header.io-main_header
	.container-fluid
		.col-md-2
			.io-sidebar_trigger
				i.fa.fa-bars
		.col-md-8
			.io-main_logo 
				a(href="index.html") codepix.corp
		.col-md-2
			.io-search_box
				i.fa.fa-search