section.io-section--01
    h2.io-section--01__name Jaden Charles
    h4.io-section--01__sub Web Developer &amp; Designer
    p.io-section--01__desc I like to make cool and creative designs. My design stash is always full of refreshing ideas. Feel free to take a look around my Vcard.
