.io-social--sidebars
    .io-social--sidebar
        .io-social--sidebar__content
            ul.io-social--list
                li: a(href="#"): i.fa.fa-behance
                li: a(href="#"): i.fa.fa-facebook
                li: a(href="#"): i.fa.fa-twitter
                li: a(href="#"): i.fa.fa-linkedin
                li: a(href="#"): i.fa.fa-instagram
    .io-social--sidebar.io-social--sidebar__right
        .io-social--sidebar__content
            ul.io-social--list
                li: a(href="#"): i.fa.fa-behance
                li: a(href="#"): i.fa.fa-facebook
                li: a(href="#"): i.fa.fa-twitter
                li: a(href="#"): i.fa.fa-linkedin
                li: a(href="#"): i.fa.fa-instagram